<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout_unloged}">
<head>
  <title th:text="#{title.recuperar}">Recuperar</title>
  <link rel="stylesheet" th:href="@{/css/set_new_password.css}" />
</head>

<body>
  <div layout:fragment="content">
    <div class="center-wrapper">
      <div class="main-container">
        <h2 class="card-title text-center mb-4" th:text="#{forgot.titleRecuperar}"></h2>

        <div th:if="${errorEmail}" class="alert alert-danger">
          <span th:text="#{errorEmail}"></span>
        </div>
        <div th:if="${errorEntrada}" class="alert alert-danger">
          <span th:text="#{errorEntrada}"></span>
        </div>

        <form th:action="@{/forgot_password}" method="post" class="mt-4">
          <div class="mb-3">
            <label for="email" class="form-label" th:text="#{forgot.email}">Correo electrónico</label>
            <input type="email" class="form-control" name="email" id="email" required>
          </div>
          <button type="submit" class="btn btn-primary" th:text="#{forgot.enviar}"></button>
        </form>
      </div>
    </div>
  </div>
</body>
</html>
