<!DOCTYPE html>
<html th:lang="#{idioma}" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Footer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link href="css/footer.css" rel="stylesheet">
</head>

<body>

    <footer th:fragment="footerFragment">
        <link rel="stylesheet" th:href="@{/css/footer.css}" />
        <div class="footer-container">
            <p><span>&copy;  2025</span>   <span th:text="#{footer.derechos}">Todos los derechos reservados</span></p>
        </div>
    </footer>
</body>
</html>